@model IEnumerable<prjMvcCoreDemo.ViewModel.CShoppingCartItem>

@{
    ViewData["Title"] = "CartView";
}

<h1>CartView</h1>

<table class="table">
    <tr>
        <th>
            序號
        </th>
        <th>
            @Html.DisplayNameFor(model => model.count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.小計)
        </th>
        <th>
            小計
        </th>
        <th></th>
    </tr>

    @{
        int count = 0;
        decimal pay = 0;
        decimal tax = 0;
        decimal sum = 0;
        foreach (var item in Model)
        {
            count++;
            sum += item.小計;
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.FName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.小計)
                </td>
                <td>
                    @Html.ActionLink("取消", "Edit", new { /* id=item.PrimaryKey */ }) |
                </td>
            </tr>
        }
        pay = sum * 1.05M;
        tax = pay - sum;
    }
</table>
<li>交易金額:@sum.ToString("###,###,##0")</li>
<li>稅         額:@tax.ToString("###,###,##0")</li>
<li>應付金額:@pay.ToString("###,###,##0")</li>

